// Your custom styles
@import "colors";

body {
  color: unset !important;
  border-bottom: 17px solid white;
  border-right: 17px solid white;
  border-left: 17px solid white;

  a {
    color: #acd530;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

html,
body,
header {
  #home.view {
    height: 1000px;
    border-bottom: 17px solid white;
  }
}

@media (max-width: 740px) {

  html,
  body,
  .view {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  .view {
    height: 100vh;
  }
}


// FIRSTBOX IMG 2
html,
body,
.view2 {
  height: 500px;

}

@media (max-width: 740px) {

  html,
  body,
  .view2 {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  .view2 {
    height: 100vh;
  }
}

html,
body,
.view3 {
  height: 700px;

}

@media (max-width: 740px) {

  html,
  body,
  .view3 {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  .view3 {
    height: 100vh;
  }
}

html,
body,
.pages {
  height: 600px;

}

html,
body,
.search {
  height: 600px;

}

h5,
h4,
h3,
h2,
h1 {
  letter-spacing: 6px !important;
}


.h1-responsive {
  font-size: 200%; }

.h2-responsive, .section-blog-fw h2 {
  font-size: 145%; }

.h3-responsive {
  font-size: 135%; }

.h4-responsive {
  font-size: 135%; }

.h5-responsive {
  font-size: 135%; }
.brandson-skin .accent {
  color: #f333;
}

p,
h2 {
  color: #464646 !important;
}

strong {
  font-weight: bold !important;
}

footer.footer {
  background-color: $textcolor !important;
}

a.nav-link.waves-effect.waves-light {
  margin: 0 8px;
}


.green-bg {
  background-color: #acd530;
}

.breadcrumb {
  background-color: #f2f2f2;
}

.badge {
  font-size: 20px;
  margin-top: 20px;
}