//Dennis ändringar
section#feed {
    padding: 17px;
    background-color: #f2f2f2;
  
    img {
      border: 17px solid #fff;
    }
  
    .overlay {
      margin-top: 17px;
    }
  
    .hr {
      border-bottom: 5px double #464646;
    }
  
  }
  
  section#content {
    padding: 17px;
  }

  .card-cascade {
      width: 30rem;
    @media (max-width: 768px) { 
        width: 100%;
        display: block;
         }
         @media (max-width: 1024px) { 
          width: 100%;
          display: block;
           }
  }