.intro-info-content {
    .hr {
      border-bottom: 10px double white;
      
  }
}
  /*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.form-check-label.text-uppercase {
    letter-spacing: 1px;
}

::-webkit-input-placeholder{color: #ffffff!important;}

.container {
  &__hr {
    border-bottom: 10px double black;
  }
}
.form-check.form-check-inline.mt-4 {
  @media (max-width: 740px) {
    float:left;
 }
}
.form-check.form-check-inline{
  @media (max-width: 740px) {
    float:left;
 }
}

.searchresult {
  background-color: $maingrey
}
