/* 'Navbar
---------------------------------------------------------------------------- */
.navbar {
    background-color: unset !important;
}

.badge,
.navbar,
.pagination .page-item.active .page-link {
    box-shadow: none !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    color: $maingreen !important;
    border-bottom: 2px double $maingreen !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: unset !important;
}

.nav-link {
    padding: 0 !important;
}


.view:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
}

/* 'Header
---------------------------------------------------------------------------- */


.intro-info-content {
    position: relative;
    top: 8em;

    p {
        color: white !important;
    }
}

.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
}

/* 'firstbox
---------------------------------------------------------------------------- */
.firstbox {
    background-color: $maingrey;
    height: 1170px;

    &__h2 {
        font-weight: 600;
    }

    .firstbox-img {
        position: relative;
        top: -242px;
        border: 17px solid white;
        z-index: 1;

        @media (max-width: 740px) {
            position: unset;
            top:0;
        }
    }

    .firstbox-icon {
        position: relative;
        z-index: 2;
        top: -160px;
        left: 240px;
        @media (max-width: 740px) {
            position: unset;
            top:0;
            left: 0;
        }
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px)  {
            left:100px;
        }
    }
.smooth-scroll {
    @media (max-width: 740px) {
        
        text-align: center!important;
    }
}
    .hr {
        border-bottom: 5px double black;
        // width: 490px;
        // @media (max-width: 768px) {
        //    width: 295px!important;
        // }
    }
}

#firstbox-img2 {
    position: relative;
    top: -303px;
    border-top: 17px solid white;
    border-bottom: 17px solid white;
    @media (max-width: 740px) {
        position: unset;
        top:0;
    }
    @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  { 
    top:0;
}
}



.btn-main {
    width: 316px;
    height: 65px;
    background-color: #464646;
    @media (max-width: 740px) {
        width: 100%;
    }
}

/* 'Secondbox
---------------------------------------------------------------------------- */

.secondbox {
    background-color: $maingrey;


    &__h2 {
        font-weight: 600;
    }

    .secondbox-img {
        border: 17px solid white;
        position: relative;
        top: -190px;
        @media (max-width: 740px) {
            position: unset;
            top:0;
        }
    }

    .hr {
        // width: 530px;
        border-bottom: 5px double black;
        // @media (max-width: 768px) {
        //     width: 295px!important;
        //  }
    }
}

/* 'Thirdbox
---------------------------------------------------------------------------- */

.thirdbox {

    &__h2 {
        font-weight: 600;
    }

    #thirdbox-img {
        border-top: 17px solid white;
        border-bottom: 17px solid white;
    }

    .hr {
        border-bottom: 5px double white;
        // width: 535px;
        // @media (max-width: 768px) {
        //     width: 295px!important;
        //  }
         
    }
}


/* 'Fourthbox
---------------------------------------------------------------------------- */
.fourthbox {
    background-color: $maingrey;

    .hr {
        border-bottom: 5px double black;
        // width: 460px;
        // @media (max-width: 768px) {
        //     width: 295px!important;
        //  }
    }

    &__text-left {
        margin-top: 125px;
    }
}

//All HR in mobile. must check this

     @media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1024px)  {
    .hr {
        width: 100%!important;
    }
}